*{
    padding:0;
    margin: 0;
    box-sizing:border-box
}
body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}
i{
    font-size:2em;
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 900;
}
#header.scrolled{
    background:rgba(0,0,0,0.4);
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2.4em;
    font-family: "Pacifico", cursive;
}

.logo img {
    width: 50px;
    margin-right: 0.2rem;
}
.hidden{
    display: none;
}
nav {
    position:absolute;
    top:0;
    right:0;
    transform:translateX(100%);
    transition: transform 0.5s ease;
    background:#222;
    color:#f9f9f9;
    width:70%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}
nav.active{
    transform:translateX(0);
}
.nav-wrap{
    height: 100%;
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}
.nav-wrap a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-family: "Faculty Glyphic", sans-serif;
}

#overlay{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.4);
    z-index:997;
    width:100%;
    height:100%;
}
.mobile-btn{
    display:none;
    font-family: "Faculty Glyphic", sans-serif;
}
/* Larger screens */
@media (min-width: 550px) {
    .links{
        flex-basis: 30%;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .mobile-btn{
        display:flex;
    }
}
@media (min-width: 900px){
    .links{
        display:none;
    }
    nav {
        position: fixed;
        transform: translateX(0);
        background: transparent;
        width: 80%;
        height: 80px;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }
    .nav-wrap{
        height: 100%;
        width: 80%;
        padding: 20% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
    }
nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

#overlay{
    display:none;
}
}
